.banner {
    z-index: -99;
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("../images/banner.webp");
    background-position: 80% 6%;
    background-size: cover;
}